.dignity__list {
    display: flex;
}
.dignity__item {
    width: 270px;
}
.dignity__item +.dignity__item {
    margin-left: 30px;
}
.dignity__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-title);
    margin-bottom: 10px;
    margin-top: 30px;
}
.dignity__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.dignity__icon {
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}