.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
    &__conteiner {
            display: flex;
            align-items: center;
            @media screen and (max-width: 767px) {
            height: 60px;
                }
        }
}
.navigation {
    @media screen and (max-width: 767px) {
        display: none;
    }
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}
.menu-list {
    display: flex;
}
.menu-list .link.current {
    color: var(--accent-color);
}
.menu-list__item+.menu-list__item {
    margin-left: 50px;
}
.menu-list__link {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-title);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

.current::after {
    content: "";
    margin-top: 28px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
}
.menu-list__secondlist {
    @media screen and (max-width: 767px) {
    display: none;
        }
    @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    }
}
.menu-list__seconditem+.menu-list__seconditem {
    @media screen and (max-width: 1199px) {
    margin-top: 10px;
    }
    @media screen and (min-width: 1200px) {
    margin-left: 50px;
    }
}
.menu-list__secondlink {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.02em;
    color: var(--color-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: var(--accent-color);
        }
    @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    }
}

.envelope-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}
.telephone-icon {
    width: 10px;
    height: 20px;
    margin-right: 10px;
    fill: currentColor;
}
.tel {
    width: 142px;
}
.menu-open-btn {
    background-color: transparent;
    display: flex;
    margin-left: auto;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    border: none;
    fill: var(--color-title);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
    @media screen and (min-width: 768px) {
    display: none;
    }
}
.is-hidden-mob {
    transform: translateY(-100%);
}
.mob-menu {
    display: flex;
    flex-direction: column;
    position: relative;
    position: fixed;
    top: 0;;
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    @media screen and (min-width: 768px) {
            display: none;
        }
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    display: flex;
    margin-left: auto;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    cursor: pointer;
    fill: var(--color-title);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.mob-menu__list .link.mob-current {
    color: var(--accent-color);
}
.mob-menu__item + .mob-menu__item {
    margin-top: 32px;
}

.mob-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--color-title);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
      @media screen and (max-width: 420px) {
            font-size: 30px;
            line-height: 1.16;
        }
}
.mob-menu__secondlist {
    margin-top: auto;
    margin-bottom: 64px;
}
.mob-menu__secondlink {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--color-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
      @media screen and (max-width: 420px) {
            font-size: 22px;
            line-height: 1.16;
        }
}
.mob-menu__secondlink--min {
    display: block;
    font-size: 24px;
    line-height: 1.16;
    margin-top: 32px;
    @media screen and (max-width: 420px) {
        font-size: 16px;
        line-height: 1.16;
    }
}
.mob-soc {
    display: flex;
}
.mob-soc__item + .mob-soc__item {
    margin-left: 10px;
    @media screen and (max-width: 420px) {
            margin-left: 8px;
        }
}
.mob-soc__link {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    @media screen and (max-width: 420px) {
            font-size: 12px;
            line-height: 1.16;
        }
}
.mob-soc__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    @media screen and (max-width: 420px) {
          padding-right: 8px;
        }
}